@{
    ViewData["Title"] = "Login Page";
}

<h1>You can login from here</h1>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div>
        @Html.Label("Username:")
        @Html.TextBox("username")
    </div>
    <div>
        @Html.Label("Password:")
        @Html.Password("password")
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}
